/*
    ====         =========     =======          ========    ===   ===    ===    ===    =========    =========
    ====         =========    =========         ========    ===   ===    =====  ===    =========    =========
    ====         ===          ===   ===         ===         ===   ===    ==========    ===          ===
    ====         =========    ===   ===         ========    ===   ===    ===  =====    =========    =========
    ====         =========    ===   ===         ========    ===   ===    ===    ===    =========    =========
    ====         ===          ===   ===         ===         ===   ===    ===    ===    ===                ===
    ==========   =========    =========         ===         =========    ===    ===    =========    =========
    ==========   =========     =======     =    ===         =========    ===    ===    =========    =========

    Prueba Wunderman 2020
*/
/* BASE */
html, body {
  padding: 0px;
  margin: 0px;
  padding: 0px !important;
  width: 100%;
  font-family: arial;
}

/* HEADER */
#header {
  padding: 10px 30px;
  background-color: #000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header div {
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header i {
  font-size: 2rem;
  margin-left: 10px;
}

/* SLIDER */
.slideshow, .slide {
  width: 100%;
}

.slide img {
  width: 100%;
}

.slick-prev, .slick-next {
  position: absolute !important;
  z-index: 1;
  scale: 2 !important;
}

.slick-prev {
  left: 30px !important;
}

.slick-next {
  right: 30px !important;
}

.infoSlider {
  position: absolute;
  margin-left: 13vw;
  z-index: 2222;
  text-align: center;
  z-index: 2222;
}

.infoSlider h1 {
  font-size: 5vw;
  margin-bottom: 0px;
}

.infoSlider h1 span {
  font-size: 12vw;
}

.infoSlider button {
  border: none;
  background: #1fa2ac;
  color: white;
  width: 100%;
  padding: 30px 10px;
  border-radius: 5px;
  font-size: 1.5vw;
  letter-spacing: 8px;
  cursor: pointer;
}

.infoSlider button:hover {
  border: none;
  background: #228c94;
}

.infoSlider button:active {
  background: #1d7177;
}

/* CONTENIDO */
#contenido {
  padding: 1px 20px;
  position: relative;
  bottom: 100px;
  margin-bottom: -80px;
}

#contenido > p {
  text-align: left;
  font-size: 3vw;
  font-weight: lighter;
  position: relative;
  left: 15px;
}

#contenido .cajaTarjeta {
  text-align: center;
}

.cajaTarjetas {
  text-align: center;
}

.tarjeta {
  width: 22%;
  height: 450px;
  margin: 1vw 1vw;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: inline-block;
  -webkit-box-shadow: 2px 2px 5px #bbb;
          box-shadow: 2px 2px 5px #bbb;
  overflow: hidden;
}

.tarjeta div {
  padding: 10px 20px !important;
}

.tarjeta div:first-child {
  height: 200px;
  background-color: #999;
  padding: 0px !important;
}

.tarjetaPar {
  position: relative;
  top: 25px;
}

/* FORMULARIO */
#formulario {
  margin: 80px 0px;
}

#formulario > p {
  font-size: 3vw;
  text-align: center;
  margin-bottom: 0px;
}

#formulario hr {
  border: 0.2px solid #999 !important;
}

#formulario span {
  color: #999;
  font-size: 1.3vw;
}

#formulario form {
  margin-top: 30px !important;
  width: 70%;
  margin: 0 auto;
}

#formulario form > div {
  display: inline-block;
  width: 100%;
  margin: 15px 0px;
}

#formulario input {
  width: 90%;
  border: none;
  font-size: 1rem;
  color: #555;
}

#formulario .cajaInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#formulario .input {
  padding: 15px 15px;
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 49%;
}

#formulario select {
  border: none;
  width: 100%;
}

#formulario small {
  color: red;
}

#localidades::before {
  content: 'holaMundo';
  border: none !important;
  background: green;
}

#cajaAcepto {
  width: auto;
  display: inline-block;
  margin-right: 1vw;
}

.cajaAcepto {
  border: none !important;
}

.cajaAcepto input {
  scale: 1.2;
}

#btnSubmit {
  border: none;
  background: #1fa2ac;
  color: white !important;
  width: 200px !important;
  padding: 15px 10px;
  margin: 0 auto !important;
  border-radius: 5px;
  font-size: 1.5vw;
  letter-spacing: 8px;
}

@media screen and (max-width: 900px) {
  #header span {
    display: none;
  }
  .tarjeta {
    width: 100%;
    margin: 1vw 0vw;
  }
  .tarjetaPar {
    top: 0px;
  }
  #contenido {
    top: -30px;
  }
  #contenido > p, #formulario > p {
    font-size: 10vw;
    margin-bottom: 0px;
    text-align: center;
    left: 0px;
  }
  .infoSlider {
    top: 2vw;
    margin-left: 6vw;
  }
  .infoSlider h1 {
    text-align: left;
    font-size: 2vw;
    margin-bottom: 0vw;
  }
  .infoSlider h1 span {
    font-size: 15vw;
  }
  .infoSlider button {
    border: none;
    background: #1fa2ac;
    padding: 2vw 8vw;
    position: relative;
    top: 2vw;
    font-size: 2vw;
    letter-spacing: 1vw;
  }
  .slick-prev, .slick-next {
    display: none !important;
  }
  #formulario form {
    width: 88%;
  }
  #formulario span {
    font-size: 2.3vw;
  }
  #formulario .cajaInput {
    display: block;
  }
  #formulario .cajaInput div {
    margin: 5px 0px !important;
  }
  #formulario .input {
    width: 100% !important;
  }
  #formulario form > div {
    margin: 2px 0px !important;
  }
  .cajaAcepto > div {
    width: 90%;
    font-size: 5vw !important;
  }
  .cajaAcepto input {
    scale: 2;
  }
}
/*# sourceMappingURL=style.css.map */